<!DOCTYPE html>
<html lang="en" ng-app="Colortask1">
<head>
	<meta charset="UTF-8">
	<title>ColorTask-1</title>
	<link type= "text/css" rel="stylesheet" href="../public/styles/main.css">	
	<!--jQuery-->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous">		  	
	</script>
	<!--Angular-->
	<!--Временно отключаем все скрипты Ангуляра-->
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

	<!--Bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body ng-controller = "Colortask1Ctrl">
	<div class="container">
	<header>
		<a href = "/"><img src="../public/img/logo-vector.svg" alt=""></a>
	</header>
	<nav class = "clearfix">
        <ul class="nav nav-pills pull-right">
	        {{#if user}}
	       	<li role="presentation"><a href="/">Dashboard</a></li>
	        <li role="presentation"><a href="/users/logout">Logout</a></li>
	        <!--<li role="presentation"><a href="/my_route">My test route</a></li>-->
	        {{else}}
	        <li role="presentation"><a href="/users/login">Login</a></li>
	        <li role="presentation"><a href="/users/register">Register</a></li>
	        {{/if}}
       	</ul>
    </nav>
	{{#if user}}
		<h3 class = "welcome-user">Welcome, {{user.username}}</h3>
	{{/if}}	
      <div class="row">
        <div class="col-lg-12">
        	{{#if success_msg}}
        		<div class="alert alert-success">
        			{{success_msg}}
        		</div>
        	{{/if}}
        	
        	{{#if error_msg}}	
        		<div class="alert alert-danger">
        			{{error_msg}}
        		</div>	
			{{/if}}

			{{#if error}}	
        		<div class="alert alert-danger">
        			{{error}}
        		</div>
			{{/if}}		
        </div>
		{{{ body }}}
	<footer>Author: Vadim Kovalenko 2016</footer>
	</div>
	<script src = "../public/controllers/controller.js"></script>
	<script src = "../public/scripts/scripts.js"></script>
</body>
</html>